//Police Cookie
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
//Police Rubik
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
//Police Grotesk
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');



//Polices
$font-primary:'Cookie', cursive;
$font-secondary:'Rubik', sans-serif;
$font-tertiary:'Space Grotesk', sans-serif;