@mixin anchor ($text-color,$hover-color, $focus-color,$active-color) {
  text-decoration: none;
  color: $text-color;

  &:hover {
    text-decoration: none;
    //outline: none;
    color: $hover-color;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
  }

  &:focus {
    text-decoration: none;
    //outline: none;
    color: $focus-color;
  }
  &:active {
    text-decoration: none;
    //outline: none;
    color: $active-color;
  }
}


