// Couleurs
$colour-primary: #F6DF19;
$colour-secondary: #FFFFFF;
$colour-tertiaire: #A44200;

$gradient-primary: linear-gradient(90deg, hsl(48, 92%, 53%) 4%, hsl(46, 100%, 50%) 95%);

//Polices
$font-primary:'Cookie', cursive;
$font-secondary:'Rubik', sans-serif;

// Size
$size-small: 1.4rem;
$size-medium: 1.8rem;
$size-large: 2.4rem;