#experience {
  background: $color-bg-primary;
  padding-top: 40px;
  padding-bottom: 40px;
}

.experience__container {
  width: 80%;
  max-width: $max-width-content;
  margin: 0 auto;


  &-title {
    font-family: $font-tertiary;
    padding-bottom: 20px;
    color: $color-text-primary;
    font-size: $size-small;

    > h2 {
      color: #d64102;;
      font-family: $font-secondary;
      font-weight: bold;
      margin-bottom: 10px;
    }

    > span {
      font-family: $font-secondary;
      font-size: $size-small;
    }

    > p {
      padding: 30px;
      font-size: $size-small;
    }

  }

  // Experience cards
  &-card {
    max-width: 800px;
    margin: 30px auto 30px auto;
    padding: 40px 10px 100px 10px;
    background: url("/assets/img/background/go-forward.jpg") no-repeat fixed center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: -1px -1px 10px rgba(255, 255, 255, 0.35);
    transition: 0.3s;
  }

}

// Timeline in the card experience
.timeline {

  // Timeline items h4, h6, p
  &-exp {

    font-family: $font-secondary;
    padding: 50px 20px;
    border-top: 3px solid;
    border-image: linear-gradient(to right, $color-primary, $color-tertiaire);
    border-image-slice: 1;
    margin: 0 10px;
    position: relative;

    @include responsive-laptop {
      margin: 0 30px;
      padding: 50px 60px;
    }

    &:nth-child(1) {
      border-bottom: 3px solid;
      border-top: none;

      @include responsive-laptop {

        width: 80%;
      }

      &:after {
        content: "▲";
        color: $color-tertiaire;
        position: absolute;
        top: -10px;
        right: -10px;
        box-sizing: content-box;
      }
    }

    &:nth-child(2) {
      border-top: none;
    }

    &:nth-child(odd) {
      border-right: 3px solid;
      padding-left: 0;
    }

    &:nth-child(even) {
      border-left: 3px solid;
      padding-right: 0;
    }

    div {
      > h4 {
        font-size: $size-more-small;
        //color: #850505;
        color: #f8701e;
        text-shadow: 2px 2px 2px #5e2d20;
        margin-left: 20px;
      }

      > h6 {
        font-style: italic;
        //color: $color-primary;
        color: #f5cc05;
        text-shadow: 1px 1px 3px #604a00;
        margin-left: 20px;
      }

      > p {
        color: #f5f1f1;
        line-height: 1.9em;
        text-shadow: 2px 2px 3px #171715;
        //color: $color-text-secondary;

        > span {
          font-size: 19px;
          font-weight: bold;
        }

      }
    }
  }
}