.hero-home {

  min-height: 150vh;


  &__content {
    height: 400px;
    font: bold $size-large "Bilbo Swash Caps", cursive;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}