#portfolio {
  background: $color-bg-secondary;
  padding-top: 40px;
  padding-bottom: 100px;
}

.portfolio__container {
  width: 80%;
  max-width: $max-width-content;
  margin: 0 auto;
  font-family: $font-tertiary;

  &-title {
    padding-bottom: 20px;
    color: $color-text-secondary;
    font-size: $size-small;

    > h2 {
      color: $color-tertiaire;
      font-family: $font-secondary;
      font-weight: bold;
      margin-bottom: 10px;
    }

    > span {
      font-family: $font-secondary;
    }

    > p {
      padding: 30px;
    }

  }


  &-carousel {
    width: 100%;
    height: 350px;
    margin: 0 auto;
    border: 4px solid $color-bg-primary;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    transition: 0.4s ease-in-out;

    @include responsive-laptop {
      width: 80%;
      height: 450px;
    }

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    }

  }

}

// Into the carousel
#carousel-items {
  height: 100%;
  display: flex;
}

//Add the carousel items with JS
.carousel__image {
  width: 100%;
  margin: 0;
  background-size: cover;
  background-position: top;
  position: relative;

}

.carousel__anchor {
  text-decoration: none;
  width: 80%;
  height: 100%;
  position: absolute;
  transform: translate(13%, 0);

  > p {
    //If I need to add name of the project
    color: $color-bg-primary;
    font-size: $size-small;
    font-family: $font-secondary;
    padding: 10px;
  }
}

.carousel__arrow {
  color: rgba(182, 17, 17, 0.5);
  position: absolute;
  cursor: pointer;
  width: 20px;
  top: 150px;
  transition: all 0.3s ease;

  @include responsive-laptop {
    top: 210px;
  }

  &-left {
    left: 10px;
    opacity: 0.7;
    transform: rotate(0deg);

    &:hover {
      transform: rotate(0deg);
      opacity: 1;
    }

  }

  &-right {
    right: 10px;
    opacity: 0.7;
    transform: rotate(180deg);

    &:hover {
      transform: rotate(180deg);
      opacity: 1;
    }

  }

}

