@font-face{
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('docs/assets/fonts/EOT/SourceCodePro-Regular.eot') format('embedded-opentype'),
         url('docs/assets/fonts/WOFF2/TTF/SourceCodePro-Regular.ttf.woff2') format('woff2'),
         url('docs/assets/fonts/WOFF/OTF/SourceCodePro-Regular.otf.woff') format('woff'),
         url('docs/assets/fonts/OTF/SourceCodePro-Regular.otf') format('opentype'),
         url('docs/assets/fonts/TTF/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('docs/assets/fonts/EOT/SourceCodePro-Bold.eot') format('embedded-opentype'),
         url('docs/assets/fonts/WOFF2/TTF/SourceCodePro-Bold.ttf.woff2') format('woff2'),
         url('docs/assets/fonts/WOFF/OTF/SourceCodePro-Bold.otf.woff') format('woff'),
         url('docs/assets/fonts/OTF/SourceCodePro-Bold.otf') format('opentype'),
         url('docs/assets/fonts/TTF/SourceCodePro-Bold.ttf') format('truetype');
}
