@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.page-wrapper {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.btn a {
  width: 130px;
  border: #e3d7d7 2px solid;
  padding: 15px;
  margin: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.btn a:hover {
  background-color: #e3d7d7;
  transform: scale(1.09);
  transition: 0.3s ease-in-out;
}
.btn a:hover i {
  transition: 0.3s ease-in-out;
  color: #2c2e33;
  transform: scale(1.02);
}
.btn a:hover p {
  transition: 0.3s ease-in-out;
  color: #2c2e33;
}
.btn i {
  font-size: 1.2rem;
  color: #efe9e9;
  padding-right: 4px;
}
.btn p {
  letter-spacing: 2px;
  font-size: 1.2rem;
  color: #efe9e9;
}

.loadcontent {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  animation: loadinger linear 0.3s;
  animation-delay: 2.9s;
  animation-fill-mode: both;
}

.loading {
  z-index: 1;
  opacity: 1;
}
.loading__letter {
  font-family: "Cookie", cursive;
  font-size: 3rem;
  color: black;
  background: linear-gradient(90deg, hsl(48deg, 92%, 53%) 4%, hsl(46deg, 100%, 50%) 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: loading 0.5s ease-in-out 3 both;
  animation-direction: alternate-reverse;
}
.loading__letter--1 {
  animation-delay: 93.3333333333ms;
}
.loading__letter--2 {
  animation-delay: 186.6666666667ms;
}
.loading__letter--3 {
  animation-delay: 280ms;
}
.loading__letter--4 {
  animation-delay: 373.3333333333ms;
}
.loading__letter--5 {
  animation-delay: 466.6666666667ms;
}
.loading__letter--6 {
  animation-delay: 560ms;
}
.loading__letter--7 {
  animation-delay: 653.3333333333ms;
}
.loading__letter--8 {
  animation-delay: 746.6666666667ms;
}
.loading__letter--9 {
  animation-delay: 840ms;
}
.loading__letter--10 {
  animation-delay: 933.3333333333ms;
}
.loading__letter--11 {
  animation-delay: 1026.6666666667ms;
}
.loading__letter--12 {
  animation-delay: 1120ms;
}
.loading__letter--13 {
  animation-delay: 1213.3333333333ms;
}
.loading__letter--14 {
  animation-delay: 1306.6666666667ms;
}
.loading__letter--15 {
  animation-delay: 1400ms;
}
.loading__letter--7 {
  padding-right: 10px;
}

@keyframes loading {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(30px);
  }
}
@keyframes loadinger {
  0% {
    opacity: 1;
    right: 0;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    z-index: -1;
    right: 100%;
  }
}
.navbar {
  position: fixed;
  width: 100%;
}
.navbar__container {
  background: #f6f2f2;
}
.navbar__content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__content-logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #A44200;
}
.navbar__content-logo a:hover {
  text-decoration: none;
  color: #A44200;
  transition: 0.2s ease-in-out;
}
.navbar__content-logo a:focus {
  text-decoration: none;
  color: #A44200;
}
.navbar__content-logo a:active {
  text-decoration: none;
  color: #A44200;
}
.navbar__content-logo a > i {
  margin-right: 5px;
  color: #252323;
}
.navbar__content-logo a > h1 {
  font-family: "Cookie", cursive;
  font-size: 2rem;
  color: #252323;
}
.navbar__content-hamburger {
  cursor: pointer;
}
.navbar__content-hamburger > span {
  font-size: 1.2rem;
  color: #676666;
}
.navbar__overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.4s;
}
.navbar__overlay-closebtn {
  position: absolute;
  color: white;
  top: 20px;
  right: 10%;
  font-size: 60px;
  transition: 0.4s;
  text-decoration: none;
  color: #676666;
}
.navbar__overlay-closebtn:hover {
  text-decoration: none;
  color: #f1f1f1;
  transition: 0.2s ease-in-out;
}
.navbar__overlay-closebtn:focus {
  text-decoration: none;
  color: #f1f1f1;
}
.navbar__overlay-closebtn:active {
  text-decoration: none;
  color: #f1f1f1;
}
@media screen and (min-width: 1024px) {
  .navbar__overlay-closebtn {
    right: 8%;
  }
}
@media screen and (min-width: 1440px) {
  .navbar__overlay-closebtn {
    right: 15%;
  }
}
.navbar__overlay-anchor {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
}
.navbar__overlay-anchor > a {
  padding: 8px;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.8s;
  text-decoration: none;
  color: #676666;
}
.navbar__overlay-anchor > a:hover {
  text-decoration: none;
  color: #f1f1f1;
  transition: 0.2s ease-in-out;
}
.navbar__overlay-anchor > a:focus {
  text-decoration: none;
  color: #f1f1f1;
}
.navbar__overlay-anchor > a:active {
  text-decoration: none;
  color: #f1f1f1;
}

.content {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}
.content__title {
  padding: 2.8rem 0;
}
.content__title > h1 {
  color: #efe9e9;
  font-size: 2.4rem;
  font-family: "Rubik", sans-serif;
}
@media screen and (min-width: 1024px) {
  .content__description {
    display: flex;
    align-items: flex-start;
    text-align: left;
  }
}

.description__img {
  margin: 0 auto;
  max-width: 355px;
}
.description__img > img {
  border: #efe9e9 2px solid;
  border-radius: 5px;
  width: 99%;
}

.description__block .block__text {
  padding: unset;
  color: #efe9e9;
}
.description__block .block__text > p {
  padding-top: 30px;
  font-size: 1.2rem;
  font-family: "Rubik", sans-serif;
}
.description__block .block__button {
  padding: 2.4rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#footer {
  background: #f6f2f2;
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.link {
  padding: 10px 0;
  color: #252323;
}
.link a {
  text-decoration: none;
  color: #252323;
}
.link a:hover {
  text-decoration: none;
  color: #e3d7d7;
  transition: 0.2s ease-in-out;
}
.link a:focus {
  text-decoration: none;
  color: #252323;
}
.link a:active {
  text-decoration: none;
  color: #e3d7d7;
}
.link a:nth-child(2) {
  padding: 0 40px;
}

.copyright {
  color: #252323;
  font-size: 1.2rem;
}
.copyright > a {
  font-size: 1.2rem;
  padding-left: 5px;
  padding-right: 3px;
  text-decoration: none;
  color: #252323;
}
.copyright > a:hover {
  text-decoration: none;
  color: #e3d7d7;
  transition: 0.2s ease-in-out;
}
.copyright > a:focus {
  text-decoration: none;
  color: #e3d7d7;
}
.copyright > a:active {
  text-decoration: none;
  color: #e3d7d7;
}

.hero-home {
  min-height: 100vh;
  background: #2c2e33;
}

/*# sourceMappingURL=style.css.map */
